# Para interagir com os buckets do Google Cloud Storage 
google-cloud-storage

# Para processamento de imagens (ex: converter para preto e branco) 
Pillow

# Para a nova funcionalidade de converter DOCX para PDF 
docx2pdf